/*
* Avenir Next Condensed
*/

@font-face {
  font-family: 'Avenir Next Condensed Regular';
  src: url('/fonts/Avenir/AvenirNextCondensed-Regular.woff2') format('woff2'),
  url('/fonts/Avenir/AvenirNextCondensed-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
